* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.card-text a {
    transition: all 0.3s ease;
}

.card-text a:hover {
    color: rgba(139, 139, 139, 0.395);
    font-size: 1.1em;
}

.list-unstyled li {
    width: 200px;
    padding: 4px;
    cursor: pointer;
    a {
        text-decoration: none;
        color: black;
        transition: all 0.3s ease;
    }
}

.list-unstyled li:hover {
    color: rgb(255, 255, 255);
    background-color: #818181;
    transition: all 0.3s ease;
}

.dropdown ul {
    display: none;
    li {
        width: 80px;
    }
}

.dropdown:hover ul {
    display: flex;
    flex-direction: column;
    
}

.dropdown:hover ul a:hover {
    color: white;
}